<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car Reviews Api</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h2>http://localhost:3000</h2>
    <h3>GET <span>/users</span></h3>
    <p>retrieve all users information</p>
    <h3>GET <span>/users/:id</span></h3>
    <p>retrieve specific user information</p>
    <h3>GET <span>/users/names</span></h3>
    <p>retrieve all names of users</p>
  </body>
</html>
